<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者講座一覧</title>
    <link rel="stylesheet" href="css/lesson_list.css">
</head>

<body>
    <header>
        <div class="adminname">
            <span id="adminname-display"th:text="${adminName}">adminName</span>、ようこそ。
        </div>
        <h2>講座一覧</h2>
        <nav class="bar">
            <button onclick="location.href='/情報変更'">情報変更</button>
            <button onclick="location.href='/管理者追加'">管理者追加</button>
            <button onclick="location.href='/ログアウト'">ログアウト</button>
        </nav>
    </header>

    <main>
        <article>
            <div class="search-container">
                <form action="/search" method="">
                    <input type="text" name="query" placeholder="講座名で検索" />
                    <button type="submit">検索</button>
                </form>
            </div>
            <!-- 商品列表 -->
            <div class="course_list" th:each="lesson:${lessonList}">
                <div class="section-details" th:each="@{/lesson/edit{lessonId}(lessonId=${lesson.lessonId})}">
                    <!-- 商品图片区域 -->
                    <div class="lecture-item">
                        <div class="image-container">
                            <img th:src="@{/lesson-img/{imagePath}(imagePath=${lesson.lessonImage})}" alt="講座画像" class="image">
                        </div>
                    </div>
                    <div class="lecture-item">
                        <div class="lesson-name" th:text="${lesson.lessonName}">講座名</div>
                        <div class="price" th:text="${lesson.price}">1,000円</div>
                        <textarea name="description" placeholder="講座詳細" th:text="${lesson.description}"></textarea>
                        <button class="list_button">講座編集</button>
                        <button class="btn_delete">講座削除</button>
                    </div>
                </div>
                <div class="section-details">
                    <!-- 商品图片区域 -->
                    <div class="lecture-item">
                        <div class="image-container">
                            <img th:src="@{/lesson-img/{imagePath}(imagePath=${lesson.lessonImage})}" alt="講座画像" class="image">
                        </div>
                    </div>
                    <div class="lecture-item">
                        <div class="lesson-name" th:text="${lesson.lessonName}">講座名</div>
                        <div class="price" th:text="${lesson.price}">1,000円</div>
                        <textarea name="" placeholder="講座詳細" th:text="${lesson.description}"></textarea>
                        <button class="list_button">講座編集</button>
                        <button class="btn_delete">講座削除</button>

                    </div>
                </div>
            </div>
            <div class="course_list_button">
                <button class="btn">講座登録</button>
            </div>
        </article>
    </main>
    <footer>
        <p>Copyright©2024 Team A.</p>
    </footer>
</body>

</html>