<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>講座登録完了</title>
    <link rel="stylesheet" th:href="@{/css/lesson_register_complete.css}">
</head>
<body>
    <header>
        <div class="header-left">
			<span id="adminname-display"th:text="${adminName}">adminName</span>、ようこそ。
		</div>
		<h2>講座の登録</h2>
		        <nav class="bar">
		          <button onclick="location.href='/lesson/list'">講座一覧</button>
		         <button onclick="location.href='/admin/logout'">ログアウト</button>
		     </nav>
    </header>

    <main>
		<form action="@{/lesson/register/process}" method="post">
        <div class="main-content">
            <h4>講座の登録が完了しました</h4>
            <div class="buttons">
                <a href="/lesson/list" class="btn-back">講座一覧へ戻る</a>
                <a href="/lesson/register" class="btn-continue">講座登録を続ける</a>
            </div>
        </div>
    </main>

	<footer>
	    <p>Copyright©2024 Team A.</p>
	</footer>
</body>
</html>
