<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>講座の変更完了</title>
    <link rel="stylesheet" th:href="@{/css/lesson_edit_complete.css}">
</head>
<body>
    <header>
        <div class="header-left">
			<span id="adminname-display"th:text="${adminName}">adminName</span>、ようこそ。
		</div>
        <div class="header-right">
            <a href="#">情報変更</a>
            <a href="/admin/logout">ログアウト</a>
        </div>
        <h1>講座の変更</h1>
    </header>

    <main>
		<form action="@{/lesson/edit/process}" method="post">
        <div class="main-content">
            <h4>講座の変更が完了しました</h4>
            <div class="buttons">
                
                <a href="/lesson/edit" class="btn-continue">講座変更を続ける</a>
                <a href="/lesson/list" class="btn-back">講座一覧へ戻る</a>
            </div>
        </div>
		</form>
    </main>

	<footer>
	    <p>Copyright©2024 Team A.</p>
	</footer>
</body>
</html>
