<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>講座画面の変更</title>
    <link rel="stylesheet" th:href="@{/css/lesson_img_edit.css}">
</head>
<body>
	<header>
	       <div class="header-left"><span th:text="${adminName}"></span>さん、ようこそ</div>
	       <h2>講座画面の変更</h2>
	       <nav class="bar">
	           <button onclick="location.href='/情報変更'">情報変更</button>
	           <button onclick="location.href='/admin/logout'">ログアウト</button>
	       </nav>
	   </header>
    <main>
		<div class="main-content">
			
			<form th:action="@{/lesson/img/edit/process}" method="post" enctype="multipart/form-data">
			    <div class="image-preview">
			        <!-- 显示已经上传的图片 -->
			        <img th:if="${lesson.imageName != null}" th:src="@{/lesson-img/{imageName}(imageName=${lesson.imageName})}" alt="写真" width="200px" height="150px">
			        <!-- 如果没有上传图片，显示提示文字 -->
			        <p th:if="${lesson.imageName == null}">まだ画像がアップロードされていません。</p>
			    </div>

			    <div class="file-upload">
			        <label for="file">講座画面：</label>
			        <!-- 用于上传新的图片文件 -->
			        <input type="file" id="file" name="imageFile">
			    </div>

			    <div class="buttons">
			        <a href="#" class="btn-back" onclick="history.back();" type="button">戻る</a>
			        <button type="submit" class="btn-edit">変更</button>
			    </div>
				<input type="hidden" name="lessonId" th:value="${lesson.lessonId}">
				<input type="hidden" name="startDate" th:value="${lesson.startDate}">
				<input type="hidden" name="startTime" th:value="${lesson.startTime}">
				<input type="hidden" name="finishTime" th:value="${lesson.finishTime}">
				<input type="hidden" name="lessonName" th:value="${lesson.lessonName}">
				<input type="hidden" name="lessonDetail" th:value="${lesson.lessonDetail}">
				<input type="hidden" name="lessonFee" th:value="${lesson.lessonFee}">
			</form>
		</div>
    </main>
	<footer>
	  <p>Copyright©2024 Team A.</p>
	</footer>
</body>
</html>
