<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserRegister</title>
    <link rel="stylesheet" th:href="@{/css/userRegister.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Permanent+Marker&display=swap"
        rel="stylesheet">
  
      
</head>

<body>
    <div class="a">
        <div class="b">
          
        </div> 
         <!-- <img  class="b" src="image/2.jpg" width="300px" alt="">  -->
        <div class="c">
            <form class="d" th:action="@{/user/register/process}" method="post">
                <h1>USER</h1>
                <input name="userName" type="text" class="e" placeholder="USER NAME">
                <input name="userEmail" type="text" class="e" placeholder="EMAIL">
                <input name="userPassword" type="text" class="e" placeholder="PASSWORD">
               <!-- <input type="text" class="e" placeholder="RE-ENTER PASSWORD">-->
               <!-- <a href="#" class="f">Please log in here</a>-->
                <button class="g">Register</a>
            </form>
        </div>
    </div>
</body>

</html>