<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lecture Purchase Site</title>
	<link rel="stylesheet" th:href="@{/css/user_lesson_list.css}">
</head>

<body>
	<!-- ヘッダー -->
	<header>
		<div class="header-left">
			<div class="username">
				<span id="username-display" th:text="${userName}">Username</span>、ようこそ。
			</div>
		</div>
		<div class="header-title">
			講座一覧
		</div>
		<div class="header-right">
			<nav>
				<button onclick="location.href='/user/lesson/list'">講座一覧</button>
				<button onclick="location.href='/transaction/history'">購入履歴</button>
				<button onclick="location.href='/user/password/reset'">情報変更</button>
				<button onclick="location.href='/user/logout'">ログアウト</button>
			</nav>
			<a class="cart-icon" onclick="location.href='/view/cart/list'"></a>
		</div>
	</header>

	<!-- 商品リスト -->
	<div class="product-list-container">
		<div class="search-container">
			<form action="/search" method="get">
				<input type="text" name="query" placeholder="講座名で検索" />
				<button type="submit">検索</button>
			</form>
		</div>
		<li th:each="lesson:${lessonList}">
			<div class="product-item">
				<div class="product-image-container">
					<img th:src="@{/lesson_img/{imagePath}(imagePath=${lesson.imageName})}" alt="Lesson Image"
						class="product-image">
				</div>
				<div class="product-info">
					<h2 class="product-name" th:text="${lesson.lessonName}">商品名</h2>
					<p class="product-description" th:text="${lesson.lessonDetail}">商品詳細</p>
					<p class="product-price" th:text="'値段：' + ${lesson.lessonFee} + '円'">値段</p>
					<form th:action="@{/cart/list}" method="post">
						<input type="hidden" name="lessonId" th:value="${lesson.lessonId}" />
						<button type="submit" class="add-to-cart-button">カートに入れる</button>
					</form>
				</div>
			</div>
		</li>


		<!-- メインコンテンツ -->
		<main></main>

		<!-- フッター -->
		<footer>
			<p>Copyright©2024 Team A.</p>
		</footer>
</body>

</html>