<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>お支払い情報選択</title>
	<link rel="stylesheet" th:href="@{/css/users_select_payment.css}">
</head>

<body>
	<!-- ヘッダー -->
	<header>
		<div class="header-left">
			<div class="username">

				<span id="username-display" th:text="${userName}">Username</span>、ようこそ。
			</div>
		</div>
		<div class="header-title">申し込み手続き</div>
		<div class="header-right">
			<nav>
				<button onclick="location.href='/user/lesson/list'">講座一覧</button>
				<button onclick="location.href='/transaction/history'">購入履歴</button>
				<button onclick="location.href='/user/password/reset'">情報変更</button>
				<button onclick="location.href='/user/logout'">ログアウト</button>
			</nav>

			<a class="cart-icon" onclick="location.href='/view/cart/list'"></a>
		</div>
	</header>
	<!-- メイン -->
	<main>
		<section class="register-section">

			<form th:action="@{/users/selectPayment/process}" method="post">
				<div class="section-details">
					<div class="payment-methods">お支払方法選択▶</div>
					<div class="content_confirmation">申し込み内容確認▶</div>
					<div class="application_complete">申し込み完了</div>
				</div>
				<!-- 商品图片区域 -->
				<li th:each="lesson:${lessonList}">
					<div class="item">
						<div class="lecture-item">
							<div class="image-container">

								<img th:src="@{/lesson-img/{imagePath}(imagePath=${lesson.imageName})}" alt="講座画像" class="image">
							</div>
							<div class="lecture-name" th:text="${lesson.lessonName}">講座名</div>
							<div class="price" th:text="'値段：' + ${lesson.lessonFee} + '円'">値段</div>
						</div>
					</div>
				</li>
				<div class="payment_methods_selection">
					<div class="title">お支払方法選択</div>

					<div class="circle-container" name="paymentMethod">
						<input type="radio" id="option1" name="circleOption" class="circle-radio" value="当日現金支払い" />
						<label for="option1" class="circle-label">当日現金支払い(無料講座の場合はこちらを選択する)</label><br>

						<input type="radio" id="option2" name="circleOption" class="circle-radio" value="銀行振込" / >
						<label for="option2" class="circle-label">銀行振込</label><br>

						<input type="radio" id="option3" name="circleOption" class="circle-radio" value="クレジットカード決済"  />
						<label for="option2" class="circle-label">クレジットカード決済</label><br>
					</div>
				</div>
				<div class="button">
					<button class="btn">申し込み内容確認</button>
				</div>
			</form>
		</section>
	</main>
	<!-- フッター -->
	<footer>
		<p>Copyright©2024 Team A.</p>
	</footer>
</body>

</html>