/* 全体スタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

/* ヘッダースタイル */
header {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(135deg, #98B1D4 0%, #6A8AB8 100%);
}

.header-left {
    margin-left: 10px;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    flex: 1;
    margin-left: 370px;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

/* ナビゲーションボタン */
nav {
    display: flex;
    align-items: center;
}

nav button {
    margin-right: 20px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

/* ボタン全般 */
button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #98B1D4;
    color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7A91BB;
}


/* //変更項目 */
.form-contents{
    /* 幅の設定 */
    width: 600px;
    /* 中央に置く */
    margin: 10px auto;
}

.passwordChangeform{
    /* 幅の設定 */
    width: 600px;
    /* 罫線を引く */
    border: 1px solid black;
    /* 中央に置く */
    margin: 200px auto;
    background-color: #98B1D4;
}

.profile-form{
    /* 幅の設定 */
    /* 中央に置く */
    margin: 0 auto;
}


.control-group{
    /*下に余白を入れて要素を同士を離す*/
    margin-bottom: 15px;
}

input{
    background-color: rgb(231, 231, 231);

}

.login-field-icon{
    /* block要素はwidthを指定することができない */
    display: inline-block;
    width: 85px;
}
.control-position{
    /*ボタンとリンクを真ん中に持ってくる*/
    text-align: center;
}

/* カートアイコン */
.cart-icon {
    width: 40px;
    height: 40px;
    background-image: url('/img/购物车.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* フッター */
footer {
    padding: 20px;
    background: linear-gradient(135deg, #98B1D4 0%, #6A8AB8 100%);
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-weight: bold;
}

footer p {
    margin: 0;
    font-size: 14px;
}
