/* 全体スタイル  */
body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    box-sizing: border-box; 
}
/* ヘッダースタイル  */
header {
    font-weight: bold; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 20px; 
    background: linear-gradient(135deg, #98B1D4 0%, #6A8AB8 100%); 
}
.header-left {
    margin-left: 10px; 
}
.header-title {
    font-size: 24px; 
    font-weight: bold; 
    color: #000000; 
    text-align: center; 
    flex: 1; 
    margin-left: 370px; 
}
.header-right {
    display: flex; 
    align-items: center; 
    margin-right: 10px; 
}
/* ボタン全般  */
button {
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    background-color: #98B1D4;
    color: #000; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}
button:hover {
    background-color: #7A91BB; 
}
/* カートアイコン */
.cart-icon {
    width: 40px; 
    height: 40px; 
    background-image: url('/img/购物车.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    cursor: pointer; 
}

.form-contents{
    position: relative;
    /* 幅の設定 */
    width: 600px;
    /* 中央に置く */
    margin: 150px auto;
    padding: 20px; 
    background: linear-gradient(135deg, #98B1D4 0%, #6A8AB8 100%); 
    border-radius: 20px;
}

.profile-form{
    /* 幅の設定 */
    width: 600px;
    /* 中央に置く */
    margin: 0 100px;
}


.control-group{
    /*下に余白を入れて要素を同士を離す*/
    margin-bottom: 15px;
}

label {
    width: 100px;
    text-align: right;
    white-space: nowrap;
    padding-right: 10px;
}

.useremail{
    margin-left: 100px;
}

input{
    margin-left: 100px;
    background-color: rgb(231, 231, 231);

}

.login-field-icon{
    /* block要素はwidthを指定することができない */
    display: inline-block;
    width: 85px;
}
.control-position{
    /*ボタンとリンクを真ん中に持ってくる*/
    text-align: center;
    margin-top: 30px;
}

.backbutton{
    background-color: gainsboro;
    margin-right: 50px;
    width: 80px;
}

.changebutton{
    background-color: #bfd3ee;
    width: 100px;
    height: 50px;
    margin-right: 200px;
}

.messege{
    margin-top: 100px;
    margin-left: 90px;
}

.backhome{
    background-color: #bfd3ee;
    margin-right: 200px;
}

/* フッター */
footer {
    padding: 20px;
    background: linear-gradient(135deg, #98B1D4 0%, #6A8AB8 100%);
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-weight: bold;
}

footer p {
    margin: 0;
    font-size: 14px;
}
